/* Import font Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* Set values used throughout the site as variables to allow for easy alteration */
:root {
  --body-background: #219EBC;
  --body-text-colour: #ffffff;
  --application-background: #034769;
  --correct-answer: #2A9D8F;
  --incorrect-answer: #D5573B;
  --white: #ffffff;
}

/* Configure universal box-sizing to make box model layout calculations easier */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin and padding for every element on the page to keep
spacing consistent across browsers */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--body-background);
  font-family: 'Poppins', sans-serif;
  color: var(--body-text-colour);
}

#application-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--application-background);
  overflow: scroll;

  /* Credit to w3schools for code to hide scrollbar but keep functionality:
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Credit to w3schools for code to hide scrollbar but keep functionality:
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* Hide scrollbar for Chrome, Safari and Opera */
#application-container::-webkit-scrollbar {
  display: none;
}

/* Menu container */

#menu-container {
  display: grid;
  grid-template-columns: [full-width-start] 1fr [centre-start] 2fr [centre-end] 1fr [full-width-end];
  grid-template-rows: 1fr [logo-top] 5fr [logo-bottom] 1fr [btn-top] 3fr [btn-bottom] 1fr;
  gap: 10px;
  height: 100%;
}

#logo-container {
  grid-column: full-width;
  grid-row: logo-top / logo-bottom;
  min-height: 200px;
  background-color: var(--white);
  color: #000000;
}


#menu-buttons-container {
  gap: 10px;
  grid-column: centre;
  grid-row: btn-top / btn-bottom;
}

#menu-buttons-container>* {
  flex: 1;
}

/* Instructions */

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.background-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--body-background);
}

#btn-instructions-close {
  /* Placeholder for later styles */
}

/* Category Selection */

#category-select-container {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr [header-top] 2fr [header-bottom] 1fr [categories-top] 7fr [categories-bottom] 1fr;
  gap: 10px;
  height: 100%;
}

#heading {
  grid-row: header-top / header-bottom;
  text-align: center;
}

#categories-container {
  grid-row: categories-top / categories-bottom;
  gap: 10px;
}

/* Quiz */

#quiz-container {
  display: grid;
  grid-template-columns: [full-width-start] 4fr [full-width-end];
  grid-template-rows: [header-top] 1fr [header-bottom upper-top] 4fr [upper-bottom lower-top] 4fr [lower-bottom] 1fr;
  height: 100%;
  gap: 5px;
}

#header {
  grid-row: header-top / header-bottom;
  align-items: center;
  justify-content: space-between;
}

#header>* {
  display: inline;
}

#btn-quiz-close {
  /* Placeholder for later styles */
}

#current-difficulty {
  text-transform: capitalize;
}

#lives-remaining {
  /* Placeholder for later styles */
}

#question-container {
  grid-column: full-width;
  grid-row: upper-top / upper-bottom;
}

#answer-container {
  grid-column: full-width;
  grid-row: lower-top / lower-bottom;
  gap: 5px;
}

#questions-remaining {
  grid-column: right-info;
  grid-row: footer-top / footer-bottom;
}

#loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 10px;
}

/* Padding to the left of the Font Awesome icon */
.fa-heart {
  padding: 5px;
}

/* Shared styles */

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.btn-menu {
  min-width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #FB8500;
  font-size: 125%;
  font-weight: 400;
  color: white;
}

.btn-game {
  min-width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 125%;
  font-weight: 400;
  color: var(--application-background);
}

.btn-close {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: unset;
  color: var(--body-text-colour);
}

.correct-answer {
  background-color: var(--correct-answer);
}

.incorrect-answer {
  background-color: var(--incorrect-answer);
}

.tentative-answer {
  background-color: black;
}

/* Media queries */

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #application-container {
    width: 800px;
    height: 80%;
    border-radius: 40px;
    padding: 40px;
  }

  .background-content {
    width: 700px;
  }
}