/* Configure universal box-sizing to make box model layout calculations easier */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin and padding for every element on the page to keep
spacing consistent across browsers */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #219EBC;
}

#application-container {
  width: 100%;
  height: 100%;
  background-color: #034769;
  padding: 20px;
}

.hidden {
  display: none;
}